

.mango_busy {overflow: hidden;}
.section-main{
    padding: 0;
}
.header{padding: 40px 0; background: #fff; }
.nav-list a{color: #242424;}
.logo_img{max-width:291px}
.section-main{background: transparent; height: auto;color: #242424; margin: 0;}
.section-main::after{content:none}
.intros{ margin: 0;  padding: 45px 0; justify-content: center; align-items: center; gap: 30px;}

.date{display: flex; flex-direction: column;}
.date .text_box{display: flex; justify-content: space-between; font-weight: bold; font-size: 28px;}
.date .logo_box{display: flex; align-items: center; gap: 10px;}
.date .logo_box img{width: 40px; height: 50px}

.date .contry_box{display: flex;flex-wrap: wrap;}
.date .contry_item{
    position:relative;
    width: 30%; padding:16px 0; border-top: 1px solid #333; margin-top: 34px;}
.date .contry_item:nth-child(1),
.date .contry_item:nth-child(2),
.date .contry_item:nth-child(4),
.date .contry_item:nth-child(5) {width: 35%; padding-right: 5%;}
/* .contry_item img{width: 80%;} */
.date .contry_item h3{font-size: 24px; font-weight: bold;}
.date .contry_item p{font-size: 20px; margin-bottom: 10px;}
.date .contry_item::before{content: ""; position: absolute;top: 0;left: 0; transform: translateY(-50%);width: 18px;height: 18px;background-color: #f00; border-radius: 99px;z-index: 99;;}
.date .contry_item::after{content: ""; position: absolute;top: 0;left: 0; transform: translate(-25%, -50%); width: 40px;height: 2px;background-color: #fff;}

.new_plan{
    /* FFF0DD ~ FDDEE3 */
    background: linear-gradient(to right, #FFF0DD, #FDDEE3);
    margin: 0; padding: 40px 8.3%; display: flex;flex-direction: column; gap: 24px; text-align: center;}

.new_plan h3 {font-size: 28px; font-weight: bold;z-index: 99;}
.new_plan_box{display: flex;flex-wrap: wrap; gap: 20px; }
.new_plan_box .plan_item{width: calc(33.3% - (20px / 3 * 2));position: relative;padding-bottom: 16px;}
.new_plan_box .img_box{position: absolute;bottom: 0;left: 0; width: 100%;}
.new_plan_box .text_box {position: absolute; bottom: 0;left: 50%;transform: translateX(-50%); width: 80%; padding: 6px 0;text-align: center;background-color: #F65B6B;font-weight: bold;color: #fff;font-size: 22px;}


.corp_plan{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
    margin-top: 80px;
}
.corp_plan .section-title{font-size: 28px; font-weight: bold;}
.corp_box{display: flex;flex-wrap: wrap;justify-content: space-between; row-gap: 80px;

}
.corp_box .corp_item{
    display: flex;
    align-items: center;
    width: calc(50% - (40px / 2));padding: 30px 16px 30px 24px; background-color: #E9E9E9; border-bottom-right-radius: 16px;position: relative;}

.corp_box .corp_item img:nth-child(1){
    position: absolute;left: 0;top: 50%; transform: translate(-50%, -50%);
}
.corp_box .corp_item img:nth-child(2){
    position: absolute;right:20px;top: 0%; transform: translate(50%, -50%); z-index: 99;
    width: 50px;
}
.corp_box .corp_item .line{position:absolute;content: "";top: 50%;right: 0;width: 20px;height: 0; border-top: 4px dotted  #222; transform: translate(100%, -50%);}

.corp_box .corp_item::before{position:absolute;content: "";bottom: -40px;right: 0;width: 100%;height: 0; border-bottom: 1px solid #222;}
.corp_box .corp_item::after{position:absolute;content: "";bottom: -40px;left: 50%;width: 20px;height: 20px; border-radius: 99px; background-color: #222; transform: translate(-50%, 50%);}




.merit{display: flex; flex-direction: column; gap: 40px;margin-bottom: 60px;}
.merit > .text_box{display: flex; justify-content: space-between; font-weight: bold; font-size: 28px;}
.merit .logo_box{display: flex; align-items: center; gap: 10px;}
.merit .logo_box img{width: 40px; height: 50px}
.merit .text_box span{font-size: 30px; color: #F55A6B;}
.merit_box{display: flex;flex-wrap: wrap; row-gap: 24px; justify-content: space-between; position: relative;}
.merit_box::after{content: ""; border-left: 1px solid #F55A6B; width: 0; height: calc(100% + 40px); position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%);}

.merit_item{position: relative;width: calc(50% - (60px / 2)) ; display: flex;box-shadow: 4px 4px 4px 0px #aaa; background-color: #fff; border-bottom-right-radius: 8px;}
.merit_item .number_box{padding: 8px 4px; background: #F65B6B; font-size: 20px; font-weight: bold; color: #fff; display: flex; justify-content: center;align-items: center;}
.merit_item .text_box{padding: 0 0 0 10px; background: #fff;font-size: 20px; font-weight: bold; display: flex; justify-content: center;align-items: center;}
.ract{position: absolute; right: -6px;top: -6px; z-index: -1; width: 40px; height: 40px; background-color: #E9E9E9;}



.schedule{margin: 0; padding:60px 8.03%; background-color: #FEDDA7;display: flex;flex-direction: column;gap: 60px;}
.schedule .section-title{font-size: 28px; font-weight: bold;}
.schedule .contry_area{display: flex;flex-direction: column; gap: 60px;}
.schedule .contry_box{position: relative;display: flex;gap: 24px; text-align: center;}
.schedule .contry_item{position: relative;display: flex;flex-direction: column;gap: 8px; width: calc(20% - (24px / 4));}
.schedule .contry_item img{width: 100%;}

.schedule .contry_box::before{content: "";position: absolute;top: -20px;
    left: 50%;width: calc(100%); border-top: 1px solid #222; transform: translateX(-50%);}
.schedule .contry_item::before{content: "";position: absolute;top: -20px;
    left: 50%;width: 50%; height: 10px; background-color: #FEDDA7; transform: translate(-50%, -50%);}

.schedule .contry_item:nth-child(1):before{content: "";position: absolute;top: -20px;
    left: 50%;width: 75%; height: 10px; background-color: #FEDDA7; transform: translate(-70%, -50%);}
.schedule .contry_item:nth-child(5):before{content: "";position: absolute;top: -20px;
    right: 50%;width: 75%; height: 10px; background-color: #FEDDA7; transform: translate(-30%, -50%); z-index: 99;}
    

.schedule .contry_item::after{content: "";position: absolute;top: -20px;
        left: 50%;width: 16px; height: 16px; border: 1px solid #222; border-radius: 99px; transform: translate(-50%, -50%);z-index: 999;}
    
    

@media screen and (max-width:780px) {

}