

.mango_busy {overflow: hidden;}
.section-main{
    padding: 0;
}
.header{padding: 40px 0; background: #fff; }
.nav-list a{color: #242424;}
.logo_img{max-width:291px}
.section-main{background: transparent; height: auto;color: #242424; margin: 0;}
.section-main::after{content:none}
.intros{ margin: 0;  padding: 45px 0; justify-content: center; align-items: center; text-align: center; color: #fff;
    background-image: url(/img8/1.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.intros .logo_box img{width: 40px; cursor: pointer;}
.intros .logo_box1 {margin-bottom: 10px;display: flex; gap: 10px; justify-content: center; align-items: center;  font-size: 22px;font-weight: bold;}
.intros .logo_box {margin-bottom: 10px;display: flex; gap: 30px; justify-content: center; align-items: center;  font-size: 22px;font-weight: bold;}
.intros .logo_box .mango_img{width: 30px;}
.live_img{max-width: 250px; margin-bottom: 20px;}
.intros .text_box {max-width: 500px; margin-bottom: 10px;}
.intros .text_box span{font-weight: 500;}


.contact{padding: 60px 0;display: flex; flex-direction: column;justify-content: center;align-items: center; gap: 30px;}
.contact_box{display: flex;gap: 10px; width: 100%;}
.contact_item{width: 100%; height: 300px; display: flex;align-items: center;justify-content: center; text-align: center; color: #fff;font-size: 20px; font-weight: bold;

background-repeat: no-repeat;
background-size: cover;
}
.contact_item:nth-child(1){background-image: url(/img8/3.png);}
.contact_item:nth-child(2){background-image: url(/img8/4.png);}
.contact_item:nth-child(3){background-image: url(/img8/5.png);}
.contact_img{object-fit: contain; width: 40%; max-width: 400px;}



.shopping{position: relative;;margin: 0;padding: 60px 8.03% 40px; background-color: #FFE6E9; display: flex;flex-direction: column;gap: 10px;}
.shopping::before{content: ""; position: absolute; top: 0; left: 0;max-width:40%; width: 100%; height: 80%;background-image: url(/img8/8.png);background-repeat: no-repeat; background-size: contain;}
.shopping::after{content: ""; position: absolute; bottom:0; right: 0;width: 100%;height: 95%;background-image: url(/img8/7.png);background-repeat: no-repeat; background-size: contain; background-position: right bottom;}
.shopping_box{position: relative; z-index: 99;}
.shopping h3{color: #D62A3A; font-weight: bold; font-size: 30px;}
.shopping h6{font-weight: bold; font-size: 22px;}
.shopping p{}


.shop_logos{margin: 0;padding: 30px 8.03%; display: flex;justify-content: center; flex-wrap: wrap; gap: 40px; background-color: #FFF0F3;}
.shop_logos img{height: 30px;}

.soon{}
.soon .logo_box{ padding: 30px; display: flex;gap: 10px;justify-content: center;align-items: center; font-size: 24px; font-weight: bold;}
.soon .logo_box img{width: 34px;}
.soon .soon_box{
    display: flex; justify-content: center; align-content: center;
    background-image: url(/img8/16.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.soon .soon_box img{width: 60%;object-fit: contain; }




@media screen and (max-width:780px) {
   
}